*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: #283499;
    margin-bottom: 20px;
}
header h2{
    text-align: center;
    color: white;
    padding-top: 20px;
    margin-bottom: 10px;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
}
.input-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.input-container input{
    padding: 8px 5px;
}
button{
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #101e9c;
    padding: 10px 5px;
    width: 50%;
    transition: transform .1s;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.nav-button{
    text-align: center;
    display: block;
    width: 200px;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: #404dc5;
    margin: auto;
    border-radius: 6px;
    margin-top: 20px;
}
/* Productos */
h3{
    text-align: center;
    margin-bottom: 15px;
}
.productos{
    border-collapse: collapse;
    margin: auto;
}
.productos img{
    max-width: 80px;
}
.productos tr{
    border: 1px solid #082c6175;
}
.productos td{
    border: 1px solid #082c6175;
    padding: 5px 10px;
    background-color: #082c61b6;
    color: white;
    text-align: center;
}
.productos th{
    padding: 5px 10px;
    width: 130px;
    border: 1px solid #082c6175;
    background-color: #082c61;
    color: white;
}
#messageForm{
    margin-top: 15px;
}
#messageForm input{
    padding: 5px 10px;
}

#messagesContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ccc;
    border-radius: 6px;
    padding: 10px 15px;
}
#messagesContainer p{
    margin-top: 5px;
}
.email{
    font-weight: bold;
    color: rgb(0, 26, 222);
}
.date{
    color: rgb(191, 89, 0);
}
.message{
    color: rgb(78, 188, 0);
    font-style: italic;
}
.message-main{
    margin-bottom: 16px;
}