<div class="chat-container">
    <h3>Centro de mensajes</h3>
    <form id="messageForm">
        <input type="text" name="email" id="email" placeholder="Ingresa tu correo.." required/>
        <div class="messages-list" id="messages-list"></div>
        <div class="send-container">
            <input type="text" name="message" id="message" placeholder="Ingresa un mensaje"/>
            <button type="submit" class="submit-button">Enviar mensaje</button>
        </div>
    </form>
</div>