<div>
    <h3>Productos</h3>
    <table class="productos">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each productos}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.thumbnail}}" alt="Icono"/></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <a class="nav-button" href="http://localhost:8081/">Volver</a>
</div>